.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  margin-bottom: 280px;
  margin-top: 280px;
  text-align: center;

  &__title {
    font-size: 70px;
    font-weight: 500;
  }

  &__text {
    max-width: 700px;
  }

  &__link {
    align-items: center;
    background: #ececec;
    border-radius: 23px;
    color: #6e6e6e;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 8px 24px;
    position: relative;
    z-index: 1;

    &:hover {
      &::after,
      &::before {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        top: calc(100% + 10px);
      }

      &::before {
        top: calc(100% + 6px);
      }
    }

    &::after,
    &::before {
      transition: all 250ms ease;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
    }

    &::after {
      background: #6e6e6e;
      border-radius: 14px;
      color: $light;
      content: attr(data-tooltip);
      font-size: 14px;
      font-variant: all-small-caps;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 2px 8px 4px;
      position: absolute;
      top: calc(100% + 30px);
    }

    &::before {
      border-bottom: 5px solid #6e6e6e;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: calc(100% + 26px);
      width: 0;
    }

    svg {
      fill: #6e6e6e;
    }
  }
}
