footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 700;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 60px;

  ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.back-to-top {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
