.header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  min-height: 80vh;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.disponibility {
  align-items: center;
  background-color: rgba($dark, .1);
  border-radius: 20px;
  display: inline-flex;
  flex-direction: row;
  font-size: 16px;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px 20px;

  &__indicator {
    background-color: #47cf47;
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
  }
}

.scroll-down {
  margin-top: auto;
  background: $dark;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  svg {
    fill: $light;
  }
}
