@media screen and (max-width: 576px) {

  main {
    padding-left: 25px;
    padding-right: 25px;
  }

  body {
    font-size: 16px;
  }

  h1,
  %h1 {
    font-size: 36px;

    small {
      font-size: 18px;
    }
  }

  h2,
  %h2 {
    font-size: 32px;
  }

  .disponibility {
    font-size: 12px;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }

}
