.hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  min-height: 80vh;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.intro {
  max-width: 700px;
}

@keyframes glowing-indicator {
  0% {
    box-shadow: 0 0 5px 0 var(--color-glowing-green-shadow);
  }
  50% {
    box-shadow: 0 0 5px 4px var(--color-glowing-green-shadow);
  }
  100% {
    box-shadow: 0 0 5px 0 var(--color-glowing-green-shadow);
  }
}

.disponibility {
  align-items: center;
  background-color: var(--color-dark-100);
  border-radius: 20px;
  color: inherit;
  display: inline-flex;
  flex-direction: row;
  font-size: 16px;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px 20px;
  text-decoration: none;

  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.indicator {
  background-color: var(--color-glowing-green);
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
  animation: glowing-indicator 2s infinite;
}

.scrolldown {
  margin-top: auto;
  background: var(--color-dark);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  svg {
    fill: var(--color-beige);
  }
}
