// Libre Calson

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'Italic';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-Italic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'Medium';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-Medium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'MediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-MediumItalic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-SemiBold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'SemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-SemiBoldItalic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Libre Caslon';
  font-named-instance: 'Bold';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/LibreCaslon/LibreCaslonCondensed-BoldItalic.woff2) format("woff2");
}

// Eudoxus Sans

@font-face {
  font-display: swap;
  font-family: 'Eudoxus Sans';
  font-named-instance: 'Regular';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/EudoxusSans/EudoxusSans-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Eudoxus Sans';
  font-named-instance: 'Medium';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/EudoxusSans/EudoxusSans-Medium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Eudoxus Sans';
  font-named-instance: 'Bold';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/EudoxusSans/EudoxusSans-Bold.woff2) format("woff2");
}

